.root {
    -fx-black-color: #121212;
    -fx-gray-color: #212121;
    -fx-semi-gray-color: #303030;
    -fx-border-gray-color: #6C6C6C;
    -fx-bright-gray-color: #AAAAAA;
    -fx-blue-color: #065fd4;
}
#backgroundGridPane {
    -fx-background-color: -fx-gray-color;
}
#signupVbox, #backgroundBorderPane{
    -fx-background-color: -fx-semi-gray-color;
    -fx-border-radius: 28;
    -fx-background-radius: 28;
}
TextField, PasswordField, DatePicker{
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-color: -fx-black-color;
    /*-fx-border-width: 1;*/
    -fx-text-fill: white;
    -fx-prompt-text-fill: -fx-bright-gray-color;
    -fx-selection-bar: -fx-blue-color;
    /*-fx-border-color: -fx-border-gray-color;*/
    -fx-border-width: 0.5;
}
TextField:hover, PasswordField:hover, DatePicker:hover{
    -fx-background-color: -fx-border-gray-color;
}
TextField:focused, PasswordField:focused, DatePicker:focused{
    -fx-border-color: -fx-blue-color;
}
.account-title
{
    -fx-font-family: "Product Sans";
    -fx-font-weight: bold;
    /*-fx-font-size: 45;*/
}
DatePicker .text-field{
    -fx-control-inner-background: -fx-black-color;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #AAAAAA;
}
DatePicker .arrow-button {
    -fx-background-color: -fx-semi-gray-color;
}
DatePicker .month-year-pane {
    -fx-background-color: -fx-semi-gray-color;
}
DatePicker .month-year-pane .spinner {
    -fx-text-fill: white;
}
.conformation-button{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: -fx-blue-color;
    /*-fx-background-color: #0b57d0;*/
    /*-fx-background-color: #075FDE;*/
    -fx-text-fill: white;
    -fx-font-family: Roboto;
    -fx-font-weight: Bold;
    -fx-font-size: 14;
}
.secondary-button{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: transparent;
    /*-fx-text-fill: #0b57d0;*/
    -fx-text-fill: -fx-blue-color;
    -fx-font-family: Roboto;
    -fx-font-weight: Bold;
    -fx-font-size: 14;
}
#designGridBox{
    -fx-background-image: url('line1.png'),url('line2.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover,cover;
    /*-fx-background-size: stretch,stretch;*/
}
.conformation-button:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(three-pass-box,#0b57d0, 20, 0, 0, 0);
}
.secondary-button:hover{
    /*-fx-background-color: rgba(170, 170, 170, 0.1);*/
    -fx-background-color: rgba(108, 108, 108, 0.5);
}
.side-bar{
    -fx-background-color: -fx-gray-color;
}
#retryButton{
    -fx-border-width: 0.5;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-text-fill: #3ea6ff;
    -fx-background-color: transparent;
    -fx-border-color: -fx-border-gray-color;
    -fx-font-size: 15;
}
.h1{
    -fx-font-family: Roboto;
    -fx-font-size: 20;
    -fx-text-fill: #f1f1f1;
}
.h2{
    -fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-text-fill: #f1f1f1;
}
#retryButton:disabled{
    -fx-opacity: 0.2;
}
.browse-button
{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: -fx-bright-gray-color;
    -fx-text-fill: black;
    -fx-font-family: Roboto;
    -fx-font-size: 14;
}
.premium-toggle-button{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-blue-color;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-border-width: 1;
    -fx-border-color: -fx-blue-color;
}
.premium-toggle-button:selected{
    -fx-background-color: -fx-blue-color;
    -fx-text-fill: #f1f1f1;
}
.private-toggle{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: transparent;
    -fx-text-fill: #dd2c00;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-border-width: 1;
    -fx-border-color: #dd2c00;
}
.private-toggle:selected{
    -fx-background-color: #dd2c00;
    -fx-text-fill: #f1f1f1;
}
#CBIsCollaborative{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: transparent;
    -fx-text-fill: #2ba640;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-border-width: 1;
    -fx-border-color: #2ba640;
}
#CBIsCollaborative:selected{
    -fx-background-color: #2ba640;
    -fx-text-fill: #f1f1f1;
}
.err-label{
    -fx-font-family: Roboto;
    -fx-font-size: 10;
    -fx-text-fill: #dd2c00;
}