.root {
    -fx-black-color: #121212;
    -fx-gray-color: #212121;
    -fx-semi-gray-color: #303030;
    -fx-border-gray-color: #6C6C6C;
    -fx-bright-gray-color: #AAAAAA;
    -fx-blue-color: #065fd4;
}
.title-loading{
    -fx-text-fill: transparent;
    -fx-background-color: linear-gradient(to right, transparent, #6C6C6C, transparent);
    -fx-background-size: 200% 100%;
    -fx-animation: shimmer 1s infinite;
    -fx-font-family: Roboto;
    -fx-background-radius: 20;
}
.title{
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right, transparent, #6C6C6C, transparent);
    -fx-background-size: 200% 100%;
    -fx-animation: shimmer 1s infinite;
    -fx-font-family: Roboto;
    -fx-background-radius: 20;
}
.caption-loading{
    -fx-text-fill: transparent;
    -fx-background-radius: 20;
    -fx-background-color: linear-gradient(to right, transparent, #6C6C6C, transparent);
    -fx-background-size: 200% 100%;
    -fx-animation: shimmer 1s infinite;
    -fx-font-family: Roboto;
}
.caption{
    -fx-text-fill: -fx-bright-gray-color;
    -fx-background-color: -fx-border-gray-color;;
    -fx-background-radius: 20;
}